/*
 * Absolute Position: anchors element to the first element (overall box)
 */
.trial {
  background: lightgrey;
}

.card {
  background: white;
  padding: 0;
}

body{
  background-color: lightgray !important;
}

.container-bg {
  background: white;
}

.seagreen {
  color: rgb(1, 146, 146);
  font-family: serif;
  font-weight: bolder;
}

.navbar {
  background: white;
  font-family: serif;
  font-weight: bolder;
}

.right-margin{
  margin-right: 50px;
}

@media (max-width: 978px) {
  .container-bg {
    padding:0;
    margin:0;
  }
}






.teal {
  background: rgb(1, 146, 146);
}

.white-font{
  color: white
}

.ml-1 {
  margin-top: ($spacer * 1.5) !important;
  margin-left: ($spacer * 1.5) !important;
}

.p-3 {
  padding: ($spacer * 1) !important;
}

.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.play {
  position: absolute;
  width: 600px;
  height: 600px;
  background: white;
  border: 2px solid black;
}

/* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */

.box-1 {
  top: 6%;
  left: 2%;
}

.box-2 {
  top: 0;
  right: -40px;
}

.box-3 {
  right: 20px;
  bottom: -10px;
}

.box-4 {
  bottom: 0;
}
